body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2b2b2b;
    color: #fff;
}

.idPropio {
    background-color: #226848;
    font-weight: bold;
}

.mensajePrivado {
    background-color: #3a3a3a;
    border-left: 4px solid #ffa500;
    padding-left: 10px;
}

#container {
    width: 80%;
    max-width: 800px;
    background: #333;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

#usuariosConectados {
    list-style: none;
    padding: 0;
    background-color: #464646;
    margin-bottom: 20px;
    border-radius: 8px;
}

#usuariosConectados li {
    padding: 10px;
    border-bottom: 1px solid #555;
}

#usuariosConectados li:last-child {
    border-bottom: none;
}

#messages {
    list-style: none;
    padding: 0;
    height: 200px;
    overflow-y: auto;
    background-color: #464646;
    margin-bottom: 20px;
    border-radius: 8px;
}

#messages li {
    padding: 10px;
    border-bottom: 1px solid #555;
    /* Borde oscuro */
}

#messages li:last-child {
    border-bottom: none;
}

#form {
    display: flex;
}

#form input {
    padding: 10px;
    flex: 1;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #555;
    /* Borde oscuro */
    background-color: #333;
    color: #fff;
}

#form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form button:hover {
    background-color: #0056b3;
}

.cabecera {
    font-weight: bold;
    color: #fff;
    margin-bottom: 10px;
}